<%- include('../../partials/header.ejs') %>
<body>
    <%- include('../../partials/navbar.ejs') %> 
    <div class="container">
        <hr>
        <div class="card">
            <div class="card-header">
                <h2>Editar Artigo</h2>
            </div>
            <div class="card-body">
                <form method="POST" action="/articles/update">
                    <input type="hidden" value="<%= article.id %>" name="id">
                    <input type="text" name="title" placeholder="Defina o título do artigo" class="form-control" value="<%= article.title %> "><br>
                    <textarea name="body" id="article" cols="20" rows="5" class="form-control" placeholder="Escreva o artigo aqui!"></textarea><br>
                    <label for="category">Categorias</label>
                    <select name="category" class="form-control">
                        <% categories.forEach(category => { %> 
                            <% if(category.id == article.categoryId) { %>
                                <option value="<%= category.id %>" selected><%= category.title %></option>
                            <% } else { %>
                                <option value="<%= category.id %>"><%= category.title %></option>
                            <% } %>   
                        <% }) %> 
                    </select><br>
                    <button class="btn btn-info">Atualizar</button>
                </form>
            </div>
        </div>
    </div>
    <div id="content" style="display: none;">
        <%- article.body %> 
    </div>
</body>
<%- include('../../partials/footer.ejs') %> 
<script src="/tinymce/tinymce.min.js"></script>
<script>
    tinymce.init({
        language: 'pt_BR',
        selector: "#article",
        plugins: [
            'advlist autolink link image lists print preview hr searchreplace wordcount fullscreen insertdatetime media save table paste emoticons'
        ],
        init_instance_callback: () => {
            tinymce.get("article").setContent($("#content").html())
        }
    })
</script>