<%- include('../../partials/header.ejs') %>
<%- include('../../partials/navbar.ejs') %> 
<div class="container">
    <hr>
    <h2>Usuários</h2>
    <a class="btn btn-info" href="/admin/users/create">Criar novo usuário</a>
    <hr>
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <% users.forEach(user => { %>
                <tr>
                    <td><%= user.id %> </td>
                    <td><%= user.email %> </td>
                    <td>
                        <a href="/" class="btn btn-warning">Editar</a>
                        <form method="POST" action="/" style="display: inline;" onsubmit="confirmDelete(event, this)">
                            <input type="hidden" name="id" value="">
                            <button class="btn btn-danger">Excluir</button>
                        </form>
                    </td>
                </tr>
            <% }) %> 
        </tbody>
    </table>
</div>
<%- include('../../partials/footer.ejs') %>
<script>
    function confirmDelete(event, form){
        event.preventDefault();
        var decision = confirm("Você quer deletar esta categoria?");
        if(decision){
            form.submit();
        }
    }
</script>